<!-- TODO: Pass data từ component vào các @Input() -->
<div class="header-container" [class.centered]="totalCards === 0" [class.top]="totalCards > 0">
  <app-header
    (fileLoaded)="onFileLoaded($event)"
    [testMode]="testMode"
    (testModeChange)="onTestModeChange($event)"
  ></app-header>
</div>

<div class="max-w-150 m-auto content-container" *ngIf="totalCards > 0">
  <app-stats [currentCard]="currentIndex + 1" [totalCards]="totalCards"></app-stats>

  <app-flashcard
    [card]="currentCard"
    [dictionaryData]="dictionaryData"
    (flipCard)="handleFlip()"
    [isFlipped]="isFlipped"
  ></app-flashcard>

  <app-controls
    (onPrevious)="handlePrevious()"
    (onNext)="handleNext()"
    (onShuffle)="handleShuffle()"
    [currentIndex]="currentIndex"
    [totalCards]="totalCards"
  ></app-controls>

  <app-mode-toggle
    [autoFlipEnabled]="autoFlipEnabled"
    [isAutoPlaying]="autoPlaySub !== undefined"
    (onAutoPlay)="handleAutoPlay()"
    (onAutoFlipChangeEvent)="handleAutoFlip($event)"
  ></app-mode-toggle>
</div>

<!-- Test Mode Section -->
<!-- TODO: Sử dụng *ngIf để điều khiển hiển thị các component test -->
<!-- <div class="test-mode-container" id="test-mode-container" style="display: none">
  <app-test-setup></app-test-setup>

  <app-test-question></app-test-question>

  <app-test-results></app-test-results>
</div> -->
